version: 2

updates:
  # Updates for workflow files
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "monthly"

  # Maven project
  - package-ecosystem: maven
    directory: "/"
    schedule:
      interval: weekly

groups:
  production-dependencies:
    dependency-type: "production"
  development-dependencies:
    dependency-type: "development"
