# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject
nb-configuration.xml

# maven
/target

# vim
.*.sw[a-p]

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# various other potential build files
/build
/bin
/dist
/manifest.mf
*.log

# Mac filesystem dust
.DS_Store

# intellij
*.iml
*.ipr
*.iws
.idea/

# Gradle
.gradle

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar